.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*
Color scheme
Redish: D74B4B
gray: DCDDD8
220, 221, 216
light blue: 475F77
dark blue: 354B5E
white: FFFFFF
(source: https://kuler.adobe.com/Calm-and-clean-color-theme-3541268/)
*/

/*
.navbar {
    min-height: 30;
}

.navbar-header > a, .navbar-nav > li > a {
    padding: 10px;
    height: auto;
}

.navbar-text {
    margin-top: 10px;
    margin-bottom: 10px;
}
*/
.navbar-default {
    background: linear-gradient(top, #ebeced, #dedfe0);
    background: -webkit-linear-gradient(top, #ebeced, #dedfe0);
    
}

.graphInfo .deletegraph {
    position: absolute;
    right: 0px;
    top: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 4px 7px;
    
}

html,body { overflow-y: scroll; }


body {
    background: #354B5E;
}

div.graphContent {
    background-color: White;
    border: 5px solid;
    border-radius: 5px;
    border-color: #475F77;
}

div.graphs div.graph-item {
    padding: 15px;
    
}

div.graphs img {
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8); /* CSS3 shadows */
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

div.graphImgDiv {
    z-index: 2;
    padding-right: 0px;
}

div.graphInfo {
    z-index: 1;
    background: rgba(220, 221, 216, 0.8);
    -moz-border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8); 
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

ul.graphOptions{
    padding-left: 0;
    list-style: none;
}


.graphOptions li{
border:1px solid #495267; 
-webkit-border-radius: 3px; 
-moz-border-radius: 3px;
border-radius: 3px;
font-size:12px;
font-family:arial, helvetica, sans-serif; 
padding: 10px 10px 10px 10px; 
text-decoration:none; 
display:inline-block;
text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
font-weight:bold; 
color: #FFFFFF;
 background-color: #606c88; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
 background-image: -webkit-linear-gradient(top, #606c88, #3f4c6b);
 background-image: -moz-linear-gradient(top, #606c88, #3f4c6b);
 background-image: -ms-linear-gradient(top, #606c88, #3f4c6b);
 background-image: -o-linear-gradient(top, #606c88, #3f4c6b);
 background-image: linear-gradient(to bottom, #606c88, #3f4c6b);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#606c88, endColorstr=#3f4c6b);
}

.graphOptions li:hover{
 border:1px solid #363d4c;
 background-color: #4b546a; background-image: -webkit-gradient(linear, left top, left bottom, from(#4b546a), to(#2c354b));
 background-image: -webkit-linear-gradient(top, #4b546a, #2c354b);
 background-image: -moz-linear-gradient(top, #4b546a, #2c354b);
 background-image: -ms-linear-gradient(top, #4b546a, #2c354b);
 background-image: -o-linear-gradient(top, #4b546a, #2c354b);
 background-image: linear-gradient(to bottom, #4b546a, #2c354b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4b546a, endColorstr=#2c354b);
}

.graphOptions li {
    float: left;
/*    height: 115px; */
    padding: 10px;
    width: 100%;
    padding-left: 1px;
    padding-right: 1px;
    line-height: 1.4;
    text-align: center;
    margin: 2px;

}

.graphOptions .col-md-4 {
    padding-left: 2px;
    padding-right: 2px;
}

.graphOptions .row {
    margin-left: 0px;
    margin-right: 0px;
}

.graphOptions li:hover {
    background-color: #354B5E;
    color: #FFF;
}


.graphOptions .glyphicon {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.graphOptions .graphOptionDesc {
    display: block;
}

.graph-item .loading {
    background: #000;
    opacity: 0.5;
}


/* For the graph slideout
From: http://www.dynamicdrive.com/style/csslibrary/item/image_with_sliding_description_panel_using_css3_transitions/

*/

.imagepluscontainer{ /* main image container */
position: relative;
z-index: 1;
}


.imagepluscontainer img{ /* CSS for image within container */
position: relative;
z-index: 2;
-moz-transition: all 0.5s ease; /* Enable CSS3 transition on all props */
-webkit-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;

-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8); /* CSS3 shadows */
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}


.imagepluscontainer:hover img{ /* CSS for image when mouse hovers over main container */
    /*
-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
-moz-transform: scale(1.05, 1.05);
-webkit-transform: scale(1.05, 1.05);
-ms-transform: scale(1.05, 1.05);
-o-transform: scale(1.05, 1.05);
transform: scale(1.05, 1.05);
    */
}

.imagepluscontainer div.desc{ /* CSS for desc div of each image. */
position: relative;
width: 90%;
z-index: 1; /* Set z-index to that less than image's, so it's hidden beneath it */
bottom: 0; /* Default position of desc div is bottom of container, setting it up to slide down */
/* left: 5px; */
padding: 8px;
background: rgba(220, 221, 216, 0.8); /* black bg with 80% opacity */
/* color: white; */
-moz-border-radius: 0 0 8px 8px; /* CSS3 rounded borders */
-webkit-border-radius: 0 0 8px 8px;
border-radius: 0 0 8px 8px;
opacity: 0; /* Set initial opacity to 0 */
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8); /* CSS3 shadows */
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-moz-transition: all 0.5s ease 0.5s; /* Enable CSS3 transition on desc div. Final 0.5s value is the delay before animation starts */
-webkit-transition: all 0.5s ease 0.5s;
-o-transition: all 0.5s ease 0.5s;
-ms-transition: all 0.5s ease 0.5s;
transition: all 0.5s ease 0.5s;
}

.imagepluscontainer div.desc a{
color: white;
}


.imagepluscontainer:hover div.desc{ /* CSS for desc div when mouse hovers over main container */
    /*
-moz-transform: translate(0, 100%);
-webkit-transform: translate(0, 100%);
-ms-transform: translate(0, 100%);
-o-transform: translate(0, 100%);
transform: translate(0, 100%);
opacity:1; /* Reveal desc DIV fully */
}

/*### Below CSS when applied to desc DIV slides the desc div from the right edge of the image ###*/

.imagepluscontainer div.rightslide{
width: 300px; /* reset from default */
top:0px;
right:0;
opacity:1;
/* left:auto;  /* reset from default */
/* bottom:auto;  /* reset from default */
padding-left:30px;
-moz-border-radius: 0 8px 8px 0;
-webkit-border-radius: 0 8px 8px 0;
border-radius: 0 8px 8px 0;
}

.graphOptionLink {
    cursor: pointer;
}



/*
.imagepluscontainer:hover div.rightslide{
-moz-transform: translate(100%, 0);
-webkit-transform: translate(100%, 0);
-ms-transform: translate(100%, 0);
-o-transform: translate(100%, 0);
transform: translate(100%, 0);
}

*/



