
<div class="modal-header">
  <h3>Add Graph</h3>
</div>

<div class="modal-body">
  <form role="form" name="form">
    <div class="form-group">
    <label for="name">Graph Name</label>
    <input type="text" class="form-control" name="name" placeholder="Name" ng-model="graph.name" />
    <span class="help-block">A name to be given to the graph</span>
    </div>
    <div class="form-group">
    <label for="description">Graph Description</label>
    <input type="text" class="form-control" name="description" placeholder="Description" ng-model="graph.description" />
    <span class="help-block">A description to be given for the graph</span>
    </div>
    
    <div class="form-group has-feedback" ng-class="{'has-success': form.baseUrl.$valid, 'has-error': !form.baseUrl.$valid}">
    <label for="baseUrl">Base Graph URL</label>
    <input type="url" ng-pattern="/https?\:\/\/gratiaweb\.grid\.iu\.edu\/gratia\/.*/" class="form-control" name="baseUrl" placeholder="http://gratiaweb.grid.iu.edu/..." ng-model="graph.baseUrl" />
    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.baseUrl.$valid"></span>
    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!form.baseUrl.$valid"></span>
    <span class="help-block">The URL for the graph image or page.</span>
    </div>
    

    
    <div class="statusChecking" ng-show="checkingURL">
      <div class="spinnerInject"></div>
      Checking the URL... Please wait.
      <div ng-show="errorDisplay">
        {{errorDisplay}}
      </div>
    </div>
    
  </form>

</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click='cancel()'>Cancel</button>
  <button class="btn btn-primary"  ng-click='addGraph()'>Add Graph</button>
</div>

