
<div class="modal-header">
  <h3>{{modalTitle}}</h3>
</div>

<div class="modal-body">
  <form class="form-horizontal" role="form" name="form">
    
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <input class="form-control" id="name" type="text" name="name" ng-model="graphData.name" placeholder="Name">
      </div>
    </div>
    
    <div class="form-group">
      <label for="description" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-9">
        <input class="form-control" id="description" type="text" name="description" ng-model="graphData.description" placeholder="Description">
      </div>
    </div>
    
    
    <div class="form-group">
      <label for="user" class="col-sm-3 control-label">User</label>
      <div class="col-sm-9">
        <input class="form-control" id="user" type="text" name="user" ng-model="params['user']" placeholder="User">
      </div>
    </div>
    
    <div class="form-group">
      <label for="vo" class="col-sm-3 control-label">VOs</label>
      <div class="col-sm-9">
        <input class="form-control" id="vo" type="text" name="vo" ng-model="params['vo']" placeholder="VOs">
      </div>
    </div>
    
    <div class="form-group">
      <label for="projectname" class="col-sm-3 control-label">Project Name</label>
      <div class="col-sm-9">
        <input class="form-control" id="projectname" type="text" name="projectname" ng-model="params['projectname']" placeholder="Project Name">
      </div>
    </div>
    
    <div class="form-group">
      <label for="resource" class="col-sm-3 control-label">Resource</label>
      <div class="col-sm-9">
        <input class="form-control" id="resource" type="text" name="resource" ng-model="params['facility']" placeholder="Resource">
      </div>
    </div>
    
    <div class="form-group has-feedback" ng-class="{'has-error': !form.starttime.$valid, 'has-success': form.starttime.$valid}">
      <label for="starttime" class="col-sm-3 control-label">Start Time</label>
      <div class="col-sm-9">
        <input class="form-control" id="starttime" type="datetime" name="starttime" ng-model="params['starttime']" placeholder="{{starttimePlaceholder}}"  inputdate >
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.starttime.$valid"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!form.starttime.$valid"></span>
      </div>
    </div>
    
    <div class="form-group has-feedback" ng-class="{'has-error': !form.endtime.$valid, 'has-success': form.endtime.$valid}">
      <label for="endtime" class="col-sm-3 control-label">End Time</label>
      <div class="col-sm-9">
        <input class="form-control" id="endtime" type="datetime" name="endtime" ng-model="params['endtime']" placeholder="{{endtimePlaceholder}}" inputdate>
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.endtime.$valid"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!form.endtime.$valid"></span>
      </div>
    </div>
    
  </form>
</div>

<div class="modal-footer">
         <button class="btn btn-default" ng-click='dismiss()'>Close</button>
         <button class="btn btn-primary" ng-click='submitRefineParams()'>Refine</button>
         
</div>

    

