
<div>
  <div class="row graphs">
    <div ng-repeat="(graphId, graphData) in graphs" class="col-md-12 graph-item {{graphId}}"
    ng-controller="GraphContoller"
    
    ng-mouseover="onMouseOver()">
    

      <div class="row">
        <div class="graphImgDiv col-md-8">
          <div>
            <img class="img-responsive graph-image" ng-src="{{graphUrl}}">
            <div style="position:absolute; left:0px; top:0px; width: 100%; height: 100%; z-index: -1" id="spinner-{{graphId}}"></div>
          </div>
    
    </div>
    <div class="col-md-3 graphInfo">
      <h3 class="graphName">{{ name }}</h3>
      <button ng-click="deleteGraph()" class="deletegraph btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
      <p class="graphDescription"> {{ description}} </p>
      <ul class="graphOptions">
        <div class="row">
        <div class="col-md-4 col-xs-4">
        <li class="graphOptionLink">
          <i class="glyphicon glyphicon-link"> </i>
          <span class="graphOptionDesc">Get Link</span>
        </li>
        </div>
        
        <div class="col-md-4 col-xs-4">
        <li ng-click="openGraphEdit()" class="graphOptionLink">
          <i class="glyphicon glyphicon-pencil"> </i>
          <span class="graphOptionDesc">Edit Graph</span>
        </li>
        
        </div>
        <div class="col-md-4 col-xs-4">
        <li ng-click="refreshGraph()" class="graphOptionLink">
          <i class="glyphicon glyphicon-refresh"> </i>
          <span class="graphOptionDesc">Refresh</span>
        </li>
        </div>
        
        </div> <!-- Row -->
        
        
      </ul>
    </div>
    </div>
      <hr />
    </div>

</div>
</div>
