<div class="modal-header">
  <h3>Share Profile</h3>
</div>

<div class="modal-body">
  <form novalidate>
    <fieldset>
      <div class="form-group">
      <label for="name">Profile Name</label>
      <input type="text" class="form-control" name="name" placeholder="Profile Name" ng-model="newProfile.name" />
      <span class="help-block">A name to use when sharing this profile</span>
      </div>
      
      <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" name="description" placeholder="Description Name" ng-model="newProfile.description" />
      <span class="help-block">A description to use when sharing this profile</span>
      </div>
      
      <div class="form-group" ng-show="shareURL">
      <label for="shareURL">URL</label>
      <input type="text" class="form-control" name="shareURL" placeholder="Description Name" ng-model="shareURL" select-on-click />
      <span class="help-block">Copy this link and send it to others that you wish to share this profile.</span>
      </div>
      
    </fieldset>
  </form>
</div>

<div class="modal-footer">
      <button class="btn btn-default" ng-click='closeShare()'>Close</button>
      <button class="btn btn-success" ng-click='shareProfile()'><i class="glyphicon glyphicon-cloud"></i></span>&nbsp;Share</button>
      
      <div ng-show="loading">Loading...</div>
      
      
    </fieldset>
  </form>
  
</div>